name: PR
on:
  pull_request:
    paths-ignore:
      - ".github/workflows/**"
jobs:
  code-style:
    name: code-style
    runs-on: ubuntu-latest
    env:
      YARN_ENABLE_HARDENED_MODE: 0
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - run: yarn
      - name: build
        run: yarn build
      - name: code-style check
        run: yarn pretty-quick --check --pattern 'packages/*/src/**/*' --branch origin/main
      - name: lint
        run: yarn lint

  coverage:
    name: Coverage report
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      DB_USER: postgres
      DB_PASS: postgres
      DB_DATABASE: postgres
      DB_HOST: localhost
      DB_PORT: 5432
      SUBQL_ACCESS_TOKEN: ${{ secrets.SUBQL_ACCESS_TOKEN }}
      SUBQL_ACCESS_TOKEN_TEST: ${{ secrets.SUBQL_ACCESS_TOKEN_TEST }}
      SUBQL_ORG_TEST: ${{ secrets.SUBQL_ORG_TEST }}
      ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
      YARN_ENABLE_HARDENED_MODE: 0
    steps:
      - uses: actions/checkout@v6

      - name: Enable btree btree_gist
        run: psql "postgresql://$DB_USER:$DB_PASS@$DB_HOST:$DB_PORT/$DB_DATABASE" -c "CREATE EXTENSION IF NOT EXISTS btree_gist;"

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: install dependencies
        run: yarn

      - name: build
        run: yarn build

      - uses: artiomtr/jest-coverage-report-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          skip-step: install
          package-manager: yarn
          working-directory: .
          test-script: yarn test:ci
          annotations: none
          # coverage-file: report.json
          base-coverage-file: report-main.json

      - name: Archive code coverage results
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report
          path: report.json
