name: "Prerelease"
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/workflows/**"

permissions:
  id-token: write  # Required for OIDC
  contents: read

concurrency:
  group: publish
  cancel-in-progress: false

jobs:
  Bump-Prerelease-Publish:
    name: Bump-Prerelease-Publish
    if: "!startsWith(github.event.head_commit.message, '[SKIP CI]') && !startsWith(github.event.head_commit.message, '[release]') && github.repository == 'subquery/subql'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 100
          token: ${{ secrets.REPO_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v5
        with:
          node-version: lts/*

      - name: Update npm
        run: npm install -g npm@latest

      - name: Npm version
        run: npm -v

      - uses: marceloprado/has-changed-path@v1
        id: changed-utils
        with:
          paths: packages/utils

      - uses: marceloprado/has-changed-path@v1
        id: changed-types-core
        with:
          paths: packages/types-core

      - uses: marceloprado/has-changed-path@v1
        id: changed-types
        with:
          paths: packages/types

      - uses: marceloprado/has-changed-path@v1
        id: changed-common
        with:
          paths: packages/common

      - uses: marceloprado/has-changed-path@v1
        id: changed-common-substrate
        with:
          paths: packages/common-substrate

      - uses: marceloprado/has-changed-path@v1
        id: changed-cli
        with:
          paths: packages/cli

      - uses: marceloprado/has-changed-path@v1
        id: changed-node-core
        with:
          paths: packages/node-core

      - uses: marceloprado/has-changed-path@v1
        id: changed-node
        with:
          paths: packages/node

      - uses: marceloprado/has-changed-path@v1
        id: changed-query
        with:
          paths: packages/query

      - uses: marceloprado/has-changed-path@v1
        id: changed-testing
        with:
          paths: packages/testing

      - run: yarn

      - name: build
        run: yarn build

      #Add remove-stable-version
      - name: Bump utils & deploy
        if: steps.changed-utils.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/utils

      - name: Bump types-core & deploy
        if: steps.changed-types-core.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/types-core

      - name: Bump types & deploy
        if: steps.changed-types.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/types

      - name: Bump common & deploy
        if: steps.changed-common.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/common

      - name: Bump common substrate & deploy
        if: steps.changed-common-substrate.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/common-substrate

      - name: Bump testing & deploy
        if: steps.changed-testing.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/testing

      - name: Bump node-core & deploy
        if: steps.changed-node-core.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/node-core

      - name: Bump node & deploy
        if: steps.changed-node.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/node

      - name: Bump query & deploy
        if: steps.changed-query.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/query

      - name: Bump cli & deploy
        if: steps.changed-cli.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/cli

      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          message: "[SKIP CI] Prerelease"
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
