name: "Prerelease"
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'

jobs:
  pre-ci:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: 'Block Concurrent Executions'
        uses: softprops/turnstyle@v1
        with:
          poll-interval-seconds: 10
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}


  Bump-Prerelease-Publish:
    name: Bump-Prerelease-Publish
    needs: pre-ci
    if: "!startsWith(github.event.head_commit.message, '[SKIP CI]') && !startsWith(github.event.head_commit.message, '[release]') && github.repository == 'subquery/subql'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
          token: ${{ secrets.REPO_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - uses: marceloprado/has-changed-path@v1
        id: changed-types
        with:
          paths: packages/types

      - uses: marceloprado/has-changed-path@v1
        id: changed-common
        with:
          paths: packages/common

      - uses: marceloprado/has-changed-path@v1
        id: changed-contract-processors
        with:
          paths: packages/contract-processors

      - uses: marceloprado/has-changed-path@v1
        id: changed-cli
        with:
          paths: packages/cli

      - uses: marceloprado/has-changed-path@v1
        id: changed-node
        with:
          paths: packages/node

      - uses: marceloprado/has-changed-path@v1
        id: changed-query
        with:
          paths: packages/query

      - uses: marceloprado/has-changed-path@v1
        id: changed-validator
        with:
          paths: packages/validator

      - run: yarn

      - name: build
        run: yarn workspaces foreach run build

      - name: Bump types & deploy
        if: steps.changed-types.outputs.changed == 'true'
        working-directory: packages/types
        run: echo "Changes exist in types" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump common & deploy
        if: steps.changed-common.outputs.changed == 'true'
        working-directory: packages/common
        run: echo "Changes exist in common" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump contract processors & deploy
        if: steps.changed-contract-processors.outputs.changed == 'true'
        working-directory: packages/contract-processors
        run: echo "Changes exist in contract-processors" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump node & deploy
        if: steps.changed-node.outputs.changed == 'true'
        working-directory: packages/node
        run: echo "Changes exist in node" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump query & deploy
        if: steps.changed-query.outputs.changed == 'true'
        working-directory: packages/query
        run: echo "Changes exist in query" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump validator & deploy
        if: steps.changed-validator.outputs.changed == 'true'
        working-directory: packages/validator
        run: echo "Changes exist in validator" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Bump cli & deploy
        if: steps.changed-cli.outputs.changed == 'true'
        working-directory: packages/cli
        run: echo "Changes exist in cli" && yarn version prerelease && yarn npm publish --access public --tag dev
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          message: '[SKIP CI] Prerelease'
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
