name: "Prerelease"
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/workflows/**'

jobs:
  pre-ci:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: 'Block Concurrent Executions'
        uses: softprops/turnstyle@v1
        with:
          poll-interval-seconds: 10
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}


  Bump-Prerelease-Publish:
    name: Bump-Prerelease-Publish
    needs: pre-ci
    if: "!startsWith(github.event.head_commit.message, '[SKIP CI]') && !startsWith(github.event.head_commit.message, '[release]') && github.repository == 'subquery/subql-stellar'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 100
          token: ${{ secrets.REPO_TOKEN }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: marceloprado/has-changed-path@v1
        id: changed-types-stellar
        with:
          paths: packages/types

      - uses: marceloprado/has-changed-path@v1
        id: changed-common-stellar
        with:
          paths: packages/common-stellar

      - uses: marceloprado/has-changed-path@v1
        id: changed-node
        with:
          paths: packages/node

      - run: yarn

      - name: build
        run: yarn build

      #Add remove-stable-version
      - name: Bump types stellar & deploy
        if: steps.changed-types-stellar.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/types
          npm-token: ${{ secrets.NPM_TOKEN }}

      - name: Bump common stellar & deploy
        if: steps.changed-common-stellar.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/common-stellar
          npm-token: ${{ secrets.NPM_TOKEN }}

      - name: Bump node & deploy
        if: steps.changed-node.outputs.changed == 'true'
        uses: ./.github/actions/create-prerelease
        with:
          package-path: packages/node
          npm-token: ${{ secrets.NPM_TOKEN }}

      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          message: '[SKIP CI] Prerelease'
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
